{% extends "core/criteria_base.html" %}

{% block title %}
    Criterias
{% endblock %}

{% block content %}
    <h1>Criterias</h1>
    <h2><a href={% url "core:criteria_create" %}>Create new Criteria</a></h2>
    <ul>
    {% for criteria in criteria_list %}
        <li><a href={% url "core:criteria_detail" criteria.pk %}>{{ criteria }}</a> | <a href={% url "core:criteria_update" criteria.pk %}>Update</a> | <form style="display:inline;" action={% url "core:criteria_delete" criteria.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ criteria }}?')">{% csrf_token %}
    <input type="submit" value="Delete" />
    </form></li>
    {% empty %}
        <li>No Criterias yet.</li>
    {% endfor %}
    </ul>
{% endblock %}

