<!DOCTYPE html>
<html>



<head>
<meta charset="ISO-8859-1">
<title>Create a Form</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" type="text/javascript"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script> 
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>

<script type='text/javascript'>

var wrapper = document.getElementById("container");

var index = 0;





$();
function autocompletely(input) {
	  $("#name'+(i+1)+'").autocomplete({
	    source: "/api/get_criteria_names/",
	    minLength: 2,
	  });
	}
function myfunction(){

	var value = document.getElementById("noofcriteria").value;

var append_checker = 0;
if (append_checker!=0){
	append_checker = 0;
	while (container.hasChildNodes()) {
		$('#container').empty();
    }
}else{
	append_checker = 1;
	$('#container').empty();
	for(var i=1; i < value; i++){
		var criterion_html = '<div id="items" style="margin-left:30px; "><font color="#922b21">Criteria '+(i+1)+' :</font><input type="text" name="name'+(i+1)+'" required><br><font color="#922b21">Scale </font>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<select  id="scale'+(i+1)+'" name="scale'+(i+1)+'">{% for entry in scale %}<option value="{{ entry.pk }}">{{ entry.name }}</option>{% endfor %}</select></div>'
		$('#container').append(criterion_html);	
	}
}	
		
}
	
</script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-highway.css"> 

</head>
<body>







<div class="w3-container w3-highway-red w3-center">
<h1>Create a Form</h1>
</div>
<br>
<br>
<p style="margin-left:30px; ">
<font color="#922b21">How many criteria?</font>
<select  id="noofcriteria" name="noofcriteria" onchange="myfunction()">
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
</select>

<form action="" method="post">
{% csrf_token %}
<br>
<br>

	<div id="items"style="margin-left:30px; ">
	<font color="#922b21">Criteria 1 :</font><input type="text" name="name1" required>
	<br>
	<font color="#922b21">Scale </font>
	&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<select  id="scale1" name="scale1">
	{% for entry in scale %}
	<option value="{{ entry.pk }}">{{ entry.name }}
	</option>
	{% endfor %}
	</select>
	</div>

	<div id="container"></div>

<br>
<br>
<br>    
<div style="margin-left:30px; ">
<input type="submit" value="Submit"/>
</div>

</form>
</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


</body>
</html>