<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div class="w3-container w3-highway-red w3-center">
<h1>Create Form!</h1>
</div>

<form action="" method="post">

<p style="margin-left:30px; ">
<font color="#922b21">Evaluator ID:</font>
<input type="text" name="evaluatorid">

<br>
<br>
<br>
<br>

<font color="#922b21">Who are you evaluating?:</font>
<input type="text" name="targetid">

<br>
<br>
<br>
<br>

<font color="#922b21">Evaluator Role:</font>
<input type="radio" name="instructorrole" value="instructor"> Instructor
<input type="radio" name="peerrole" value="peer"> Peer
<input type="radio" name="selfrole" value="self"> Self
<input type="radio" name="judgerole" value="judge"> Judge

<br>
<br>
<br>
<br>

<font color="#922b21">Criteria 1:</font>
<input type="radio" name="1" value="1"> 1
<input type="radio" name="2" value="2"> 2
<input type="radio" name="3" value="3"> 3
<input type="radio" name="4" value="4"> 4
<input type="radio" name="5" value="5"> 5

<br>
<br>
<br>
<br>

</form>


</p>
</body>
</html>