{% extends "core/hackathon_base.html" %}

{% block title %}
    Hackathons
{% endblock %}

{% block content %}
    <h1>Hackathons</h1>
    <h2><a href={% url "core:hackathon_create" %}>Create new Hackathon</a></h2>
    <ul>
    {% for hackathon in hackathon_list %}
        <li><a href={% url "core:hackathon_detail" hackathon.pk %}>{{ hackathon }}</a> | <a href={% url "core:hackathon_update" hackathon.pk %}>Update</a> | <form style="display:inline;" action={% url "core:hackathon_delete" hackathon.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ hackathon }}?')">{% csrf_token %}
    <input type="submit" value="Delete" />
    </form></li>
    {% empty %}
        <li>No Hackathons yet.</li>
    {% endfor %}
    </ul>
{% endblock %}

