{% extends "core/judging_round_base.html" %}

{% block title %}
    {{ judging_round }}
{% endblock %}

{% block content %}
    <h1><a href={% url "core:judging_round_list" %}>JudgingRound</a></h1>
    <h2>{{ judging_round }} | <a href={% url "core:judging_round_update" judging_round.pk %}>Update</a> | 
    <form style="display:inline;" action={% url "core:judging_round_delete" judging_round.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ judging_round }}?')">{% csrf_token %}
    <input type="submit" value="Delete" />
    </form>
    </h2>
{% endblock %}
