{% extends "core/judging_round_base.html" %}

{% block title %}
    JudgingRounds
{% endblock %}

{% block content %}
    <h1>Judging Rounds For Hackathon "{{ hackathon }}"</h1>
    <h2>
    <form style="display:inline;" action={% url "core:judging_round_create" hackathon.pk %} method="post" onsubmit="return confirm('Are you sure you want to create a new Judging Round?')">{% csrf_token %}
    <input type="submit" value="Create a new judging round" />
    </form>
    </h2>
    <ul>
    {% for judging_round in judging_round_list %}
        <li><a href={% url "core:judging_round_detail" judging_round.pk %}?hack_id={{ hackathon.pk }}>{{ judging_round }}</a> 
        | 
        <form style="display:inline;" action={% url "core:judging_round_delete" judging_round.pk %}?hack_id={{ hackathon.pk }} method="post" onsubmit="return confirm('Are you sure you want to delete {{ judging_round }}?')">{% csrf_token %}
        <input type="submit" value="Delete" />
    </form></li>
    
    {% empty %}
        <li>No Judging Rounds yet.</li>
    {% endfor %}
    </ul>
{% endblock %}

