{% extends "core/judging_round_base.html" %}

{% block title %}
    {{ judging_round }}
{% endblock %}

{% block content %}
    <h1><a href={% url "core:judging_round_list" %}?hack_id={{ judging_round.hackathon.pk }}>{{judging_round}} of hackathon '{{judging_round.hackathon}}'</a></h1>

    {% if form_created %}
        <p><a href={% url "core:judge_response_create" judging_round.pk %}> Link to form</a></p>        
        {% if have_respones %}
        	<p><a href={% url "core:judge_response_list" judging_round.pk %}> View Responses</a></p>
        	<p><a href={% url "core:round_results" judging_round.pk %}> Round Results</a></p> 
        {% endif %}
        <p><a href={% url "core:paper_form" judging_round.pk %}> Paper-based forms</a></p>
        
        <form action={% url "core:round_results" judging_round.pk %} method="post" enctype="multipart/form-data">{% csrf_token %} 
        <p>Load responses from CSV:</p>
    	{{file_form.as_p}}
    	<input type="submit" value="Load" />
		</form>
    {% else %}
        <p><a href={% url "core:hackathon_form" judging_round.pk %}> Create a form </a></p>
    {% endif %}


    <form style="display:inline;" action={% url "core:judging_round_delete" judging_round.pk %}?hack_id={{ judging_round.hackathon.pk }} method="post" onsubmit="return confirm('Are you sure you want to delete {{ judging_round }}?')">{% csrf_token %}
    <input type="submit" value="Delete" />
    </form>
    </h2>
{% endblock %}
