{% extends "core/scale_entry_base.html" %}

{% block title %}
    {{ scale_entry }}
{% endblock %}

{% block content %}
    <h1><a href={% url "core:scale_entry_list" %}>ScaleEntry</a></h1>
    <h2>{{ scale_entry }} | <a href={% url "core:scale_entry_update" scale_entry.pk %}>Update</a> | 
    <form style="display:inline;" action={% url "core:scale_entry_delete" scale_entry.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ scale_entry }}?')">{% csrf_token %}
    <input type="submit" value="Delete" />
    </form>
    </h2>
{% endblock %}
