{% extends "core/scale_base.html" %}

{% block title %}
    Scales
{% endblock %}

{% block content %}
    <h1>Scales</h1>
    <h2><a href={% url "core:scale_create" %}>Create new Scale</a></h2>
    <ul>
    {% for scale in scale_list %}
        <li><a href={% url "core:scale_detail" scale.pk %}>{{ scale }}</a> | <a href={% url "core:scale_update" scale.pk %}>Update</a> | <form style="display:inline;" action={% url "core:scale_delete" scale.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ scale }}?')">{% csrf_token %}
    <input type="submit" value="Delete" />
    </form></li>
    {% empty %}
        <li>No Scales yet.</li>
    {% endfor %}
    </ul>
{% endblock %}

