{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }}!
  <p><a href="{% url 'core:hackathon_list' %}">Hackathons</a></p>


  <p><a href="{% url 'core:scale_list' %}">Scales</a></p>
  <p><a href="{% url 'core:scale_entry_list' %}">Scale Entries</a></p>
  <p><a href="{% url 'core:criteria_list' %}">Criteria</a></p>  
  
  <p><a href="{% url 'core:judging_round_list' %}">Judging Rounds</a></p>
  <p><a href="{% url 'core:judge_response_list' %}">Judge Responses</a></p>
  
  <p><a href="{% url 'logout' %}">logout</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
{% endif %}
{% endblock %}